{% extends 'base.html'%}
{% block content %}
<div class="about-us">
    <h1>About The fbinfo</h1>
    <p>This is the tool which you can use to download facebook post reactions in a CSV format.</p>
    <p>You can analyse the data and get insights from it.</p>
    <p>Tool has ability to download the reactions by type. E.g. you can download only likes, only loves, only haha, only wow, only sad, only angry.</p>
    <p>Tool is free to use and in a testing regime. If you find any bugs, please report them to me. I will fix them as soon as possible.</p>
  </div>
{% endblock %}