<nav>
    <div class'nav-container'>
       <img src='/static/images/fbinfo-logos_transparent.png' alt='logo'>
         <ul>
             <li style='margin-top: -50px;'><a href='/' style='color: #333;' >Home</a></li>
             <li style='margin-top: -50px;'><a href='/download_by_type' style='color: #333'>Download Reactions By Type</a></li>
             <li style='margin-top: -50px;'><a href='/about' style='color: #333'>About The fbinfo</a></li>

            </ul>
        </div>
    </nav>


    